libs/codemirror/*
!libs/codemirror/README.md
!libs/codemirror/addon
libs/codemirror/addon/*
!libs/codemirror/addon/display
libs/codemirror/addon/display/*
!libs/codemirror/addon/display/placeholder.js
!libs/codemirror/lib
!libs/codemirror/mode
libs/codemirror/mode/*
!libs/codemirror/mode/css
libs/codemirror/mode/css/*
!libs/codemirror/mode/css/css.js
libs/scssphp/*
!libs/scssphp/README.md
!libs/scssphp/src
!libs/scssphp/classmap.php
!libs/scssphp/scss.inc.php
readme.txt
